##### Kaggle dataset import

In [ ]:
!pip install ipython-autotime

Collecting ipython-autotime
  Downloading https://files.pythonhosted.org/packages/b4/c9/b413a24f759641bc27ef98c144b590023c8038dfb8a3f09e713e9dff12c1/ipython_autotime-0.3.1-py2.py3-none-any.whl
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (53.0.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (5.0.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython->ipython-autotime) (0.7.0)
Installing collected packages: ipython-autotime
Successfully installed ipython-autotime-0.3.1

In [ ]:
 pip install -q kaggle

In [ ]:
from google.colab import files

files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"kushagra180","key":"c851254106f8a95965aff169fb5ffc98"}'}

In [ ]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download -d bfinan/jokes-question-and-answer

jokes-question-and-answer.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
! kaggle datasets download -d averkij/reddit-jokes-dataset

reddit-jokes-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip "/content/reddit-jokes-dataset.zip"

Archive:  /content/reddit-jokes-dataset.zip
replace reddit_jokes.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
!unzip "jokes-question-and-answer.zip"

Archive:  jokes-question-and-answer.zip
replace qajokes1.1.2.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
import seaborn as sns
from scipy.sparse import hstack, csr_matrix
import numpy as np
import pandas as pd

# Cleaning

In [ ]:
dfShort = pd.read_csv('/content/t_lightbulbs.csv',usecols = ['Question','Answer'])

In [ ]:
dfShort.head(2)

                                            Question                                             Answer
0  How many Reddit admins does it take to change ...      None, they like to keep the mods in the dark.
1  How many police officers does it take to chang...  None, because they'll just beat the room for b...

In [ ]:
dfShort.shape

(2640, 2)

In [ ]:
dfShort1 = pd.read_csv('/content/t_nosubject.csv',usecols = ['Question','Answer'])
dfShort1.shape

(32120, 2)

In [ ]:
dfShort1.head(2)

                                            Question                               Answer
0  Did you hear about the Native American man tha...  He nearly drown in his own tea pee.
1  Did you hear about the oyster who went to the ...                  He pulled a muscle

In [ ]:
dfShort2 = pd.read_csv('/content/qajokes1.1.2.csv',usecols = ['Question','Answer'])
dfShort2.shape

(75114, 2)

In [ ]:
dfShort2.head(2)

                                            Question            Answer
0       What's the best anti diarrheal prescription?  Mycheexarphlexin
1  What do you call a person who is outside a doo...              Matt

In [ ]:
dfReddit = pd.read_json('/content/reddit_jokes.json')
dfReddit.shape

(194553, 4)

In [ ]:
dfReddit = dfReddit.drop(['id','score'],1)

In [ ]:
dfReddit = dfReddit.rename(columns={'body': 'Answer', 'title': 'Question'})

In [ ]:
dfReddit.head(5)

                                              Answer                                           Question
0  Now I have to say "Leroy can you please paint ...   I hate how you cant even say black paint anymore
1  Pizza doesn't scream when you put it in the ov...  What's the difference between a Jew in Nazi Ge...
2  ...and being there really helped me learn abou...                     I recently went to America....
3  A Sunday school teacher is concerned that his ...  Brian raises his hand and says, “He’s in Heaven.”
4  He got caught trying to sell the two books to ...  You hear about the University book store worke...

#Combining

In [ ]:
df = pd.concat([dfShort, dfShort1,dfShort2,dfReddit], ignore_index=True)

In [ ]:
df.head(2)

                                            Question                                             Answer
0  How many Reddit admins does it take to change ...      None, they like to keep the mods in the dark.
1  How many police officers does it take to chang...  None, because they'll just beat the room for b...

In [ ]:
df.shape

(304427, 2)

In [ ]:
df.to_csv('combined_sarcastic.csv',index=False)